header{
    height: 60px;
    background-color:rgb(30, 78, 141);
}

header {
    font-family: sans-serif;
}

header p{
    font-size:20px;
}

textarea {
    resize: none;
}

.header-logo{
    float:left;
    padding-left:10px;
    color:white;
}

.header-holder{
    color:white;
    list-style: none;
    font-size:20px;
    z-index:20;
    position:absolute;
    right:40px;
    margin:0 auto;
    margin-top:5px;
}

.header-holder li{
    margin:0 auto;
    padding:10px;
    background-color:rgb(30, 78, 141);
    display:block;
}

.search-icon {
    scale: 150%;
    margin-top:20px;
    margin-left:20px;
    float:left;
}

.search-input {
    float:left;
    margin-top:15px;
    margin-left:15px;
    height:20px;
    outline:none;
    border:none;
    border-bottom:solid 5px black;
    font-family:Arial;
    font-size:20px;
}

a {
    text-decoration:none;
    color:inherit;
}

a:hover{
    opacity: 0.5;
}

html {
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

.icons {
    font-weight: 400;
}

select,
::picker(select) {
    appearance: base-select;
}

select {
    width:auto;
}