textarea{
    resize:none;
    padding:20px;
    font-family: sans-serif;
}

.new-post-form{
    width:70%;
    margin:0 auto;
    justify-content: center;
}

.new-post-content {
    width:500px;
    height:300px;
    font-size:20px;
    outline:0;
    border:3px solid, aqua;
    border-radius: 6px;
}

.new-post-content:focus {
    box-shadow: 4px 4px 4px
}

.new-post-form p {
    font-weight:bold;
    font-size:30px;
}

.submit-button {
    width:200px;
    height:60px;
    font-size:30px;
    border:none;
    background-color:rgb(30, 78, 141);
    color:white;
    border-radius: 10px;
}