.profile {
    height:100%;
    width:70%;
    overflow: hidden;
    margin:0 auto;
    margin-top:30px;
}

.profile-header {
    overflow:hidden;
    background-color:cyan;
    border:none;
    border-radius:10px;
}
.profile-icon {
    border-radius: 50%;
    border:5px solid blue;
    float:left;
    margin:10px;
}

/*
.profile-name {
    font-weight: bold;
    font-size:30px;
    float:left;
}
*/

.profile-icon {
    background-color: white;
}


.profile-short {
    float:left;
    margin-left:10px;
}

.profile-name {
    font-weight: bold;
    font-size:30px;
    width:100%;
}

.profile-email {
    height:20px;
}

.profile-email i, p{
    float:left;
}

.profile-email p {
    margin:0px 0px 0px 10px;
}

.email-icon {

    scale:150%;
}

span{
    border-bottom:solid 3px red;
}

.request-button {
    float:right;
    margin-top:80px;
    margin-right:20px;
    border:solid 1px black;
    border-radius:15px;
    padding:5px;
    background-color:blue;
    color:white;
}

.already {
    opacity:0.5;
}

.group-host {
    scale:150%;
    margin-left:10px;
}