<!DOCTYPE html>
<html lang ="ja">
    <head>
        <meta charset = "utf-8">
        <title>TweetApp</title>
        <link rel = 'stylesheet' href = '/static/css/layout.css'>
        <link rel = 'icon' href = '{{ url_for('static', filename = 'favicon.ico')}}'>
        <!--animations' script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src = '/static/js/layout.js'></script>
        <!--icons' css-->
        <link href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" rel="stylesheet">
        {% block static %}
        {% endblock %}
    </head>
    <body>
        <header>
            <img id = 'icon' class = 'header-logo' src = '/static/favicon.ico' width = 60 height 60>
            <p class = 'header-logo'><a href = '/'>TweetApp</a></p>
            <ul id = 'header-holder' class = 'header-holder'>
                {% if session['login'] == 'ok'%}
                    <li id = 'username'>{{ session['username'] }}</li>
                    <li class = 'list'><a href = '/profile/{{ session['username'] }}'>プロファイル</a></li>
                    <li class = 'list'><a href = '/new'>Connect?</a></li>
                    <li class = 'list'><a href = '/logout'>ログアウト</a></li>
                {% endif %}
                {% if session['login'] != 'ok' %}
                    <li id = 'username'>? ? ? ?</li>
                    <li class = 'list'><a href = '/login'>ログイン</a></li>
                    <li class = 'list'><a href = '/register'>新規登録</a></li>
                {% endif %}
            </ul>
        </header>
        {% block content %}
        {% endblock %}
    </body>
    
</html>