{% extends 'layout.html' %}
{% block static %}
    <link rel = 'stylesheet' href = '/static/css/new_post.css'>
{% endblock %}
{% block content %}
    <div class = 'new-post-form'>
        <form action = '/send_new_post' method = 'post'>
            <p>Conetnt</p>
            <textarea class = 'new-post-content' name = 'content' placeholder = 'Post?'></textarea>
            <p></p>
            <input type = 'checkbox' class = 'private' name = 'private'>
            {% if groups != [] %}
                <p>To Groups?</p>
            {% endif %}
            <label for = 'group'>
                {% for group in groups %}
                    {{group}}
                    <input type = 'radio' name = 'group' value = '{{group}}'>
                {% endfor %}
            </label>
            {% if addresses != [] %}
                <p>To Addresses?</p>
            {% endif %}
            <label for = 'address'>
                {% for address in addresses %}
                    {{address}}
                    <input type = 'radio' name = 'address'>
                {% endfor %}
            </label>
            <p></p>
            <button class = 'submit-button' type = 'submit'>POST</button>
        </form>
    </div>
{% endblock %}