{% extends 'layout.html' %}
{% block static %}
<link rel = 'stylesheet' href = '/static/css/profile.css'>
{% endblock %}
{% block content %}
<!-- data:name, email, groups(Array) -->
<div id = 'profile' class = 'profile'>
    <div id = 'profiel-header' class = 'profile-header'>
        <img id = 'profile-icon' class = 'profile-icon' src = '/static/favicon.ico' width = '100' height = '100'>
        <div class = 'profile-short'>
            <p id = 'profile-name' class = 'profile-name'><a href = '/profile/{{name}}'>@{{name}}</a></p>
            <p></p>
            <div class = 'profile-email'>
                <i class="fa-solid fa-envelope icons email-icon"></i>
                <p>{{email}}</p>
            </div>
        </div>
        {% if request_ok == True %}
            <a class = 'request-button' href = '/request/{{name}}'>友達リクエストを送る</a>
        {% else %}
            <p class = 'already request-button'>この人とはもう友達です</p>
        {% endif %}
    </div>
    <div id = 'profile-body' class = 'profile-body'>
        <div class = 'profile-docs'>
            
        </div>
        
        <div class = 'profile-groups'>
            <h2><span>所属グループ</span></h2>
            
            {% for group in groups %}
                <div class = 'group-profile'>
                    <h2>{{group}}</h2>
                    <a href = '/groups/{{group}}'>Go!</a>
                </div>
            {% endfor %}
            
        </div>
        {% if session["username"] == name %}
        <div class = 'profile-addresses'>
            <h2><span>ともだち</span></h2>
                {% for address in addresses %}
                    <div class = 'address-profile'>
                        <h2>{{address}}</h2>
                        <a href = '/chat/{{address}}'>Go!</a>
                    </div>
                {% endfor %}
        </div>
        {% endif %}
        {% if session['username'] == name %}
        <div class = 'request'>
            <h2><span>あなたへの友達申請</span></h2>
            {% for request in requests %}
                <div class = 'request-profile'>
                    <h2>{{request}}</h2>
                    <a href = '/accept_address/{{request}}'>Acccept</a>
                    <a href = '/reject_address/{{request}}'>Reject</a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}